{{#if page.versions}}
    <div class="page-versions-container">
    Version:
    <div class="page-versions">
        <button class="version-menu-toggle versions-menu-current" title="Show other versions of page">{{page.componentVersion.displayVersion}}</button>
        <div class="version-menu">
            {{#each page.versions}}
                {{#if ./missing}}
                    <a class="version is-missing" href="#">{{./displayVersion}}</a>
                {{else}}
                    {{#if (eq ./version @root.page.version)}}
                        <a class="version is-current" href="{{this.url}}" data-hash="true">{{./displayVersion}}</a>
                    {{else}}
                        <a class="version" href="/documentation/{{this.url}}" data-hash="true">{{./displayVersion}}</a>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
        |
    </div>
    </div>
    <script>
        function updateAnchorsWithHash() {
            const currentHash = window.location.hash;
            if (currentHash) {
                document.querySelectorAll('a[data-hash="true"]').forEach(link => {
                    const baseHref = link.getAttribute('href').split('#')[0];
                    link.setAttribute('href', baseHref + currentHash);
                });
            }
        }

        // Listen for hashchange and update anchors
        window.addEventListener('hashchange', updateAnchorsWithHash);

        // Update anchors on initial load
        document.addEventListener('DOMContentLoaded', updateAnchorsWithHash);
    </script>
{{/if}}